@model Hastane.Models.doktorList
@{
    ViewBag.Title = "hastaneBilgiler";
    Layout = "~/Views/Shared/_LayoutDoktor.cshtml";
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<div class="section-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">İlaçlar</h1>
            </div>

        </div>
    </div>
</div>

<div class="container container-int">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Anasayfa", "Index", "Doktor")</li>
        <li class="active">/İlaçlar</li>
    </ol>
    <div class="col-md-12 col-sm-8">



        @using (Html.BeginForm("ilacGuncelle", "Yonetici", FormMethod.Post))
        {
            <div class="input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width:150px">ilac Adı</span>
                </div>
                @foreach (var ilac in Model.ilacListesi)
                {
                    @Html.TextBox("ilacadi", ilac.ilacad, new { @class = "form-control", @type = "text", @placeholder = "İlaç İsmi Giriniz", @required = "", @maxlength = "80", @id = "ilacisim" })
                }
            </div>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width:150px">İlaç Barkod</span>
                </div>
                @foreach (var ilac in Model.ilacListesi)
                {
                    @Html.TextBox("ilacbarkod", ilac.ilacbarkod, new { @class = "form-control", @type = "text", @placeholder = "İlaç Barkod Giriniz", @required = "", @maxlength = "13", @id = "ad" })
                }
            </div>

            <button class="btn btn-lg btn-primary btn-block" id="btnguncelle" type="submit">Güncelle</button>

            <script>
                $(function () {
                    $('#btnguncelle').click(function () {
                        if (($.trim($("#ilacadi").val()) != "" || $.trim($("#ilacbarkod").val()) != "")
                                                    { alert('ilac Bilgileri başarıyla güncellendi.') }


                    });
                });
            </script>



        }




    </div>
</div>

